//   .icon {
//     width: 25px;
//     padding: 0;
//     margin: 0 -10px 0 0;
//   }
//   .icon-location {
//     width: 15px;
//     padding-top: 5px;
//     min-width: 15px;
//   }
//   .justify-center {
//     justify-content: center;
//   }
//   .margin-left-30 {
//     margin-left: 30px;
//   }
// }

// .sticky + #editButton {
//   margin-top: 99px;
//   @media (min-width: 769px) {
//     margin-top: 116px;
//   }
//   @media (min-width: 1200px) {
//     margin-top: 86px;
//   }
// }

// Banner-Home
#banner-home {
  .jumbotron {
    height: 500px;
    background-image: url(/assets/site/images/background.jpeg);
    background-size: cover;
    @media (min-width: 1200px) {
      height: 400px;
    }

    @media (max-width: 992px) {
      height: 350px;
    }

    @media (min-width: 768px) {
      height: 300px;
    }
  }

  #banner-text {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    @media (max-width: 768px) {
      margin-top: 120px;
    }
      .title {
        font-weight: normal;
        font-size: 60px;
        padding: 10px;
        line-height: 70px;
        .name {
          margin-left: 15px;
          &:hover,
          &:active,
          &:focus {
            font-size: 70px;
            color: $bpColor;
            margin: 20px;
          }
        }
        #heading-text {
          font-weight: lighter;
          font-size: 30px;
        }
      }
    }
  }

#banner {
  .jumbotron {
    background-image: url(/assets/site/images/background.jpeg);
    background-size: cover;
    @media (min-width: 1200px) {
      height: 400px;
    }

    @media (max-width: 992px) {
      height: 350px;
    }

    @media (min-width: 768px) {
      height: 300px;
    }
    #banner-text {
      color: white;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      @media (max-width: 768px) {
        margin-top: 120px;
      }
      .title{
        h1{
          font-weight: normal;
          font-size: 60px;
        }
        p {
          font-weight: normal;
          font-size: 30px;
        }
      }
    }
  }
}
    
// //Breadcrumb Styles
// #breadcrumb {
//   @media (max-width: 762px) {
//     margin-top: 93px;
//   }

//   background-color: $light-grey-background-color;
//   .breadcrumbs-tab {
//     height: 40px;
//     display: flex;
//     align-items: center;
//     p {
//       font-size: 14px;
//       margin: 0;
//     }

//     .breadcrumb-img {
//       height: 15px;
//       width: 15px;
//       margin: 0 15px;
//     }

//     a {
//       text-decoration: underline;
//     }
//   }
// }